<repository>
	<id>central</id>
	<snapshots>
		<enabled>false</enabled>
	</snapshots>
	<name>release</name>
	<url>http://weblab.megafon.ru/maven/release-weblab</url>
</repository>
<repository>
	<id>snapshots</id>
	<snapshots>
		<enabled>true</enabled>
	</snapshots>
	<name>snapshot</name>
	<url>http://weblab.megafon.ru/maven/snapshot-weblab</url>
</repository>

